$white: #fff2f2;
$lightgreen: rgb(75, 221, 75);
$translucentgray: rgba(177, 177, 177, 0.15);
$translucentdarkgray: rgba(120, 120, 120, 0.16);
$graybg: #393838;
$darkgray: #222222;
$darkbg: #191919;
$crimson: #df3939;
$golden: #f7e13e;
$lightgray: #f3f3f3;
$purple: #c43df0;
$lightgray: #acacac;
$transparent: rgba(0, 0, 0, 0);
$translucent: rgba(0, 0, 0, 0.6);
$black: #000000;
