@mixin open-sans {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
}
@mixin flex-around {
  display: flex;
  justify-content: space-around;
}
@mixin flex-evenly {
  display: flex;
  justify-content: space-evenly;
}
@mixin flex-display-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-display-row {
  display: flex;
  flex-direction: row;
}
