@import "../../../styles/parts/colors";
@import "../../../styles/parts/mixins";

.wrapper {
  @include flex-display-row;
  flex-wrap: wrap;
  margin: 25px 25px;
  z-index: 2;
  box-shadow: 0px 0px 18px 9px $purple;
  border-radius: 4px;
  background-color: $darkbg;
}
.productCard {
  background-color: $darkbg;
  min-width: 252px;
  min-height: 460px;
  color: $white;
  border: 1px solid $black;
  padding: 60px 0;
  text-align: center;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 4px;
}
.productPlatforms {
  @include flex-display-row;
  @include flex-center;
}
.productPlatformsItem {
  border: 1px solid $purple;
  margin: 5px;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: $black;
}
.productCardImg {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.front {
  transform: perspective(600px) rotateY(0deg);
  background-color: $darkbg;
}
.back {
  transform: perspective(600px) rotateY(180deg);
  background-color: $graybg;
  padding: 30px 0;
  height: 90%;
}
.productCard:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}
.productCard:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}
.front,
.back {
  position: absolute;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s linear;
  top: 0;
  border-radius: 4px;
  width: 100%;
}
.productCardPagelink {
  color: $white;
  text-decoration: none;
  border: 1px solid $white;
  border-radius: 9px;
  padding: 5px 10px;
  margin-top: 10px;
  transition: 0.3s;
}
.productCardPagelink:hover {
  color: $purple;
  border: 1px solid $purple;
  transition: 0.3s;
}
.cartBtn {
  padding: 5px 15px;
  margin-top: 10px;
}
.cartBtn:hover {
  cursor: pointer;
}
