@import "../../../../styles/parts/colors";
@import "../../../../styles/parts/mixins";

.modalContentFormWrapper {
  border: 1px solid $white;
  padding: 10px 15px;
  background-color: $black;
  color: $white;
  border-radius: 10px;
  margin: 0;
}
.modalHeader {
  @include flex-around;
}
.headline {
  margin: 5px;
}
.closeBtn {
  margin: 5px;
  padding: 5px 10px;
  color: $white;
  background-color: $black;
  border: 0;
  font-size: 1.5em;
  border-radius: 10px;
}
.modalContentForm {
  margin: 20px auto;
  width: 60%;
}
.modalContentFormSection {
  display: flex;
  flex-direction: row;
}
.modalContentFormSectionItem {
  margin-right: 25px;
}
.submitBtn {
  margin: 10px;
  padding: 10px 50px;
  width: 100%;
  background-color: $purple;
  border: 0;
  border-radius: 10px;
  color: $white;
}
.errorModal {
  background-color: $crimson;
  color: $white;
  margin: 15px auto;
  width: 90%;
  padding: 5px;
  border: 1px solid $white;
  border-radius: 10px;
}
.productTitle {
  color: $purple;
  border-bottom: 1px solid $white;
  padding-bottom: 5px;
}
.confirmOptions {
  @include flex-center;
}
.confirmOptionsItem {
  margin: 20px;
}
.confirmOptionsItemBtn {
  background-color: $purple;
  color: $white;
  border: 0;
  border-radius: 10px;
  padding: 10px 30px;
  transition: 0.3s;
}
.confirmOptionsItemBtn:hover {
  background-color: $white;
  color: $black;
  cursor: pointer;
  transition: 0.3s;
}
