@import '../../styles/colors.scss';

.link {
  margin-top: 0px;
}
.linkItem {
  text-decoration: none;
  color: $white;
}
.dropdownItem {
  margin-top: 25px;
  background-color: $purple;
  padding: 10px 20px;
  transition: 0.3s;
  z-index: 4;
}
.dropdownItem:hover {
  transition: 0.3s;
  background-color: $darkbg;
}
.dropdownItem:hover .dropdownItemLink {
  color: $graybg;
  transition: 0.3s;
}
.dropdownItemLink {
  text-decoration: none;
  padding: 5px 20px;
  color: $white;
  transition: 0.3s;
}
