@import '../../styles/colors.scss'; 

.footer {
  background-color: $darkgray;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headline {
  margin-top: 15px;
}
.companies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}
.image {
  max-width: 70px;
  max-height: 70px;
}
