@import "../../styles/parts/colors";
@import "../../styles/parts/mixins";

.headline {
  margin: 15px 20px 0 20px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid white;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10px auto;
  border: 1px solid $purple;
  border-radius: 10px;
  background-color: $translucentdarkgray;
}
.productsList {
  @include flex-center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 25px 0;
}
.hidden {
  display: none;
}
.searchForm {
  width: 80%;
  color: $white;
  margin: 20px auto;
  padding-right: 10px;
  display: flex;
}
.searchFormHeadline {
  padding-left: 10px;
  text-align: left;
}
.searchInput {
  border-radius: 3px;
  padding: 10px 0 10px 10px;
  width: 80%;
  margin-left: 20px;
  background-color: $translucent;
  color: $white;
  border: 1px solid $purple;
  border-radius: 3px;
}
.body {
  display: flex;
  flex-direction: row;
}
.filtration {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: auto;
  margin: 10px auto;
  border: 1px solid $purple;
  border-radius: 10px;
  background-color: $translucentdarkgray;
}
.filtrationItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.filterOption {
  margin: 10px 25px;
  padding: 5px;
  background-color: $purple;
  color: $white;
  border: 0;
  border-radius: 3px;
  transition: 0.3s;
  width: 80%;
}
.filterOption:hover {
  background-color: $darkgray;
  transition: 0.3s;
}
.filterOptionRadio {
  margin: 5px 20px;
}
